body{
    font-family: 'Montserrat', sans-serif; 
}

#title{
    background-color: #ff4c68;
    color: #fff;
}

h1{
    font-family: 'Montserrat', sans-serif;
    font-size: 3.5rem;
    font-weight: 900;
    line-height: 1.5;
}

@media (max-width: 800px) {
    h1{
        font-size: 2.5rem;
        margin-bottom: 25px;
    }

}

.container-fluid{
    padding: 3% 15%;
}


   /* NAVBAR */

.navbar{
    margin-bottom: 4.5rem;
    
}

.nav-item{
    padding: 0 20px;
    font-family: 'Ubuntu', sans-serif;
    
}

.collapse{
   margin-right: 280px;
}

.nav-link{
    font-family: 'Ubuntu', sans-serif;
    font-size: 1rem;
}

.navbar-brand{
    font-family: 'Ubuntu', sans-serif;
    font-size: 1.8rem;
    font-weight: 500;
    padding-left: 200px;
}

  /* DOWNLOAD BUTTONS */

  .download-button{
      margin: 15% 3% 5% 0;
  }

  @media (max-width: 800px) {
    .download-button{
        margin: auto;
    }

}

  

    /* image */

    .first-image{
        width: 50%;
        transform: rotate(25deg);
        margin-left: 110px;
    }

    @media (max-width: 800px) {
        .first-image{
            margin: 45px auto 10px 0;
            transform: rotate(0deg);
        }
    
    }
   

    /* SECOND CONATIANER */


    #features{
        text-align: center;
        font-family: 'Montserrat', sans-serif;
        padding: 7% 15%;
       
    }

    .icon-2{
        color: #ef8172;
    }

    .icon-2:hover{
        color: #ff4c68;
        padding-bottom: 10px;
    }

    h3{
        font-weight: 900;
        font-size: 1.5rem;
        margin: 15px;
    }

    .p-2{
        color: #8f8f8f;
    }

    .col2{
        text-align: center;
    }



    /* TESTIMONIALS */

    #testimonials{
       
        text-align: center;
        background-color: #ff4c68;
        color: #fff;
    }

    h2{
        font-family: 'Montserrat', sans-serif;
        font-size: 3rem;
        font-weight: 900;
        line-height: 1.5;
        
    }

    @media (max-width: 800px) {
        h2{
            font-size: 2rem;
            margin-bottom: 25px;
        }
    
    }

    .testimonial-img{
        border-radius: 100%;
        width: 10%;
        margin: 10px;
    }


    @media (max-width: 800px) {
        .testimonial-img{
            border-radius: 100%;
        width: 30%;
        margin: 10px;
        }
    
    }

    #press{
        background-color: #ff4c68;
        text-align: center;
        padding-bottom: 3%;
    }

    .press-img{
        width: 15%;
        margin: 20px 30px 15px 30px;
    }

    .carousel-item{
        padding: 7% 15%;
    }


    /* PRICING */


    #pricing{
        text-align: center;
        padding: 100px;
    }

    .price-col{
        padding: 3% 2%;
    }
